DEBUG=off
SECRET_KEY='django-secret-key'

DATABASE_URL='psql://user:pass@db:5432/db_name'

POSTGRES_DB = 'db_name'
POSTGRES_USER = 'user'
POSTGRES_PASSWORD = 'pass'
DB_HOST = db
DB_PORT = 5432

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'username'
EMAIL_HOST_PASSWORD = 'password'