[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-resized = "*"
pillow = "*"
django-environ = "*"
psycopg2 = "*"
gunicorn = "*"
qrcode = "*"
django-qr-code = "*"
xhtml2pdf = "*"
pytest-django = "*"
werkzeug = "*"
django-filter = "*"
sorl-thumbnail = "*"
tzdata = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-extensions = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
