[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-resized = "*"
pillow = "*"
django-environ = "*"
psycopg2 = "*"
gunicorn = "*"
qrcode = "*"
django-qr-code = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
