{% extends "base.html" %}
{% block title %}Оборудование{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'hardware:hardware-list' %}">Оборудование</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'hardware:facility-detail' cabinet.hardware.connection.facility.pk %}">
                {{ cabinet.hardware.connection.facility.abbreviation }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'hardware:connection-detail' cabinet.hardware.connection.pk %}">
                {{ cabinet.hardware.connection.abbreviation }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'hardware:hardware-detail' cabinet.hardware.pk %}">
                {{ cabinet.hardware.name }}
            </a>
        </li>
        <li class="breadcrumb-item">{{ cabinet.abbreviation }}</li>
    </ol>
</nav>
<div class="row mb-5">
    <h1>Шкафы/Устройства</h1>
</div>
<div class="row mb-2">
    <div id="content">
        {% include 'hardware/includes/cabinet_content.html' %}
    </div>
</div>
{% endblock %}