{% load static %}
{% load addclass %}
<form class="cnt-table-row"
    {% if is_update %}
        id="cabinet-form-{{ cabinet.pk }}"
        hx-post="{% url 'hardware:cabinet-update' cabinet.pk %}"
        hx-swap="outerHTML"
    {% else %}
        id="cabinet-form"
        hx-post="{% url 'hardware:cabinet-create' %}"
        hx-target="#cabinet-table"
        hx-swap="beforeend"
        {% if form.errors %}
            hx-swap-oob="true"
        {% endif %}
    {% endif %}
>
    {% for field in form %}
        {% if not field.is_hidden %}
            <div class="cnt-table-cell" {% if field.name == 'manufacturer' %}id="manufacturer_input"{% endif %}>
                {% if field.name == 'manufacturer' %}
                    <div class="input-group input-group-sm">
                {% endif %}
                {% if field.errors %}
                    {{ field|addclass:"form-control form-control-sm is-invalid" }}
                {% else %}
                    {{ field|addclass:"form-control form-control-sm" }}
                {% endif %}
                {% if field.errors %}
                    <div id="validation-{{ field.id_for_label }}" class="invalid-feedback">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {% if field.name == 'manufacturer' %}
                    <button class="btn btn-outline-secondary" type="button"
                        hx-get="{% url 'hardware:manufacturer-input' %}"
                        hx-target="closest #manufacturer_input"
                        hx-swap="innerHTML"
                        hx-include="previous [name='manufacturer']"
                    >
                        <img src="{% static 'icons/plus-lg.svg' %}" height="16" fill="currentColor" class="bi bi-plus-lg  align-text-bottom">
                    </button>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="cnt-table-cell">
        {% if is_update %}
            <input name="hardware" type="hidden" value="{{ cabinet.hardware.pk }}">
            <button class="btn btn-sm btn-success me-1">
                <img src="{% static 'icons/check.svg' %}" height="16" fill="currentColor" class="bi bi-check-lg align-text-bottom">
            </button>
            <button class="btn btn-sm btn-secondary me-1"
                hx-get="{% url 'hardware:cabinet-inline' cabinet.pk %}"
                hx-target="closest form"
                hx-swap="outerHTML"
            >
                <img src="{% static 'icons/x.svg' %}" height="16" fill="currentColor" class="bi bi-x-lg align-text-bottom">
            </button>
        {% else %}
            <input name="hardware" type="hidden" value="{% firstof hardware.pk form.hardware.value %}">
            <button class="btn btn-sm btn-secondary me-1">
                Добавить
            </button>
        {% endif %}
    </div>
</form>

{% if form.non_field_errors %}
<div id="content" hx-swap-oob="beforeend:#content">
    <div id="alert" class="alert alert-danger alert-dismissible w-75 fade show fixed-top mt-2 mx-auto" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}