{% extends "base.html" %}
{% block title %}Оборудование{% endblock %}
{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item">Оборудование</li>
        </ol>
    </nav>
    <div class="row mb-5">
        <h1>Оборудование</h1>
    </div>
    <div class="row">
        <div class="col-auto p-0">
            <div class="collapse show collapse-horizontal" id="tree-menu">
                {% include 'hardware/includes/hardware_tree.html' %}
            </div>
        </div>
        <div class="col-auto border-end">
            <input class="tree-menu__switch" type="checkbox" id="tree-menu-switch" data-bs-toggle="collapse"
                data-bs-target="#tree-menu" aria-expanded="false" aria-controls="#tree-menu">
            <label class="tree-menu__label" for="tree-menu-switch"></label>
        </div>
        <div class="col">
            <div id="content">
                <div class="row justify-content-center">
                    <div class="w-50 p-3">
                        <p class="text-body-secondary text-center">
                            Для просмотра оборудования воспользуйтесь меню слева
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
