{% load static %}
{% load addclass %}
<form class="cnt-table-row"
    {% if is_update %}
        id="part-form-{{ part.pk }}"
        hx-post="{% url 'hardware:part-update' part.pk %}"
        hx-swap="outerHTML"
    {% else %}
        id="part-form"
        hx-post="{% url 'hardware:part-create' %}"
        hx-target="#part-table"
        hx-swap="beforeend"
        {% if form.errors %}
            hx-swap-oob="true"
        {% endif %}
    {% endif %}
>
    {% for field in form %}
        {% if not field.is_hidden %}
            <div class="cnt-table-cell">
                {% if field.name == 'component' %}
                    <div class="input-group input-group-sm">
                {% endif %}
                {% if field.errors %}
                    {{ field|addclass:"form-control form-control-sm is-invalid" }}
                {% else %}
                    {{ field|addclass:"form-control form-control-sm" }}
                {% endif %}
                {% if field.errors %}
                    <div id="validation-{{ field.id_for_label }}" class="invalid-feedback">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {% if field.name == 'component' %}
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#component-form-modal"
                        hx-get="{% url 'hardware:component-create-modal' %}"
                        hx-target="next #component-modal-content"
                        hx-swap="innerHTML"
                    >
                        <img src="{% static 'icons/plus-lg.svg' %}" height="16" fill="currentColor"
                            class="bi bi-plus-lg  align-text-bottom">
                    </button>
                    </div>
                    <!-- Модальное окно создания компонента -->
                    <div id="component-form-modal" class="modal modal-blur" style="display: none" aria-hidden="false" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content" id="component-modal-content">
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="cnt-table-cell">
        {% if is_update %}
            <input name="cabinet" type="hidden" value="{% firstof part.cabinet.pk form.cabinet.value %}">
            <input name="part" type="hidden" value="{% firstof part.part.pk form.part.value %}">
            <button class="btn btn-sm btn-success me-1">
                <img src="{% static 'icons/check.svg' %}" height="16" fill="currentColor" class="bi bi-check-lg align-text-bottom">
            </button>
            <button class="btn btn-sm btn-secondary me-1"
                hx-get="{% url 'hardware:part-inline' part.pk %}"
                hx-target="closest form"
                hx-swap="outerHTML"
            >
                <img src="{% static 'icons/x.svg' %}" height="16" fill="currentColor" class="bi bi-x-lg align-text-bottom">
            </button>
        {% else %}
            <input name="part" type="hidden" value="{% firstof part.pk form.part.value %}">
            <input name="cabinet" type="hidden" value="{% firstof cabinet.pk part.cabinet.pk form.cabinet.value %}">
            <button class="btn btn-sm btn-secondary me-1">
                Добавить
            </button>
        {% endif %}
    </div>
</form>

{% if form.non_field_errors %}
<div id="content" hx-swap-oob="beforeend:#content">
    <div id="alert" class="alert alert-danger alert-dismissible w-75 fade show fixed-top mt-2 mx-auto" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}