{% load static %}
{% load addclass %}
<form class="cnt-table-row"
    {% if is_update %}
        hx-post="{% url 'hardware:part-update' part.pk %}"
        hx-swap="outerHTML"
    {% else %}
        hx-post="{% url 'hardware:part-create' %}"
        hx-swap="beforebegin"
    {% endif %}
    hx-target="this"
>
    <div class="cnt-table-cell">{{ form.name|addclass:"form-control form-control-sm" }}</div>
    <div class="cnt-table-cell">{{ form.component|addclass:"form-control form-control-sm" }}</div>
    <div class="cnt-table-cell">{{ form.release_year|addclass:"form-control form-control-sm" }}</div>
    <div class="cnt-table-cell">{{ form.launch_year|addclass:"form-control form-control-sm" }}</div>
    <div class="cnt-table-cell">{{ form.comment|addclass:"form-control form-control-sm" }}</div>
    <div class="cnt-table-cell">
        {% if is_update %}
            <input name="cabinet" type="hidden" value="{{ part.cabinet.pk }}">
            <input name="part" type="hidden" value="{{ part.part.pk }}">
            <button class="btn btn-sm btn-success me-1">
                <img src="{% static 'icons/check.svg' %}" height="16" fill="currentColor" class="bi bi-check-lg align-text-bottom">
            </button>
            <button class="btn btn-sm btn-secondary me-1"
                hx-get="{% url 'hardware:part-inline' part.pk %}"
                hx-target="closest form"
                hx-swap="outerHTML"
            >
                <img src="{% static 'icons/x.svg' %}" height="16" fill="currentColor" class="bi bi-x-lg align-text-bottom">
            </button>
        {% else %}
            {% if part %}
                <input name="part" type="hidden" value="{{ part.pk }}">
                <input name="cabinet" type="hidden" value="{{ part.cabinet.pk }}">
            {% else %}
                <input name="cabinet" type="hidden" value="{{ cabinet.pk }}">
            {% endif %}
            <button class="btn btn-sm btn-secondary me-1">
                Добавить
            </button>
        {% endif %}
    </div>
</div>