{% extends "base.html" %}
{% block title %}Оборудование{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'hardware:hardware-list' %}">Оборудование</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'hardware:facility-detail' part.cabinet.hardware.connection.facility.pk %}">
                {{ part.cabinet.hardware.connection.facility.abbreviation }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'hardware:connection-detail' part.cabinet.hardware.connection.pk %}">
                {{ part.cabinet.hardware.connection.abbreviation }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'hardware:hardware-detail' part.cabinet.hardware.pk %}">
                {{ part.cabinet.hardware.name }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'hardware:cabinet-detail' part.cabinet.pk %}">
                {{ part.cabinet.abbreviation }}
            </a>
        </li>
        <li class="breadcrumb-item">{{ part.name }}</li>
    </ol>
</nav>
<div class="row mb-5">
    <h1>Комплектующие/Детали</h1>
</div>
<div class="row mb-2">
    <div id="content">
        {% include 'hardware/includes/part_content.html' %}
    </div>
</div>
{% endblock %}