{% load static %}
{% load user_filters %}
<tr>
    <td colspan="3">{{ form.component|addclass:"form-control form-control-sm" }}</td>
    <td>{{ form.inventory_number|addclass:"form-control form-control-sm" }}</td>
    <td>{{ form.amount|addclass:"form-control form-control-sm" }}</td>
    <td>
        {% if is_update %}
            <button class="btn btn-sm btn-success me-1"
                hx-post="{% url 'warehouse:component-storage-update' componentstorage.storage.pk componentstorage.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML"
                hx-include="closest tr"
            >
                <img src="{% static 'icons/check.svg' %}" height="16" fill="currentColor" class="bi bi-check-lg">
            </button>
            <button class="btn btn-sm btn-secondary me-1"
                hx-get="{% url 'warehouse:component-storage-detail' componentstorage.storage.pk componentstorage.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML"
            >
                <img src="{% static 'icons/x.svg' %}" height="16" fill="currentColor" class="bi bi-x-lg">
            </button>
        {% else %}
            <button class="btn btn-sm btn-secondary me-1"
                hx-post="{% url 'warehouse:component-storage-create' storage.pk %}"
                hx-target="closest tr"
                hx-swap="beforebegin"
                hx-include="closest tr"
            >
                Добавить
            </button>
        {% endif %}
    </td>
</tr>