<div class="modal fade" id="deleteComponentModal_{{ c.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel_{{ c.pk }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel_{{ c.pk }}">Удаление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить запасную часть?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <form id="componentStorageDelete_{{ c.pk }}" method="post" action="{% url 'warehouse:component-storage-delete' c.storage.pk c.pk %}">
          {% csrf_token %}
          <input type="submit" class="btn btn-sm btn-danger me-1" form="componentStorageDelete_{{ c.pk }}" value="Удалить">
        </form>
      </div>
    </div>
  </div>
</div>