{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item">Инструменты</li>
        </ol>
    </nav>
    <div class="row mb-2">
        <h1>Инструменты/Приборы</h1>
    </div>
    {% include "warehouse/includes/instrument_filter.html" %}
    <div class="cnt-table my-2">
        <div class="cnt-table-header">
            <div class="cnt-table-row">
                <div class="cnt-table-cell">Наименование</div>
                <div class="cnt-table-cell">Инв. номер</div>
                <div class="cnt-table-cell">Зав. номер</div>
                <div class="cnt-table-cell">Подразделение</div>
                <div class="cnt-table-cell">Дата последней проверки</div>
                <div class="cnt-table-cell">Дата следующей проверки</div>
                <div class="cnt-table-cell"></div>
            </div>
        </div>
        {% include "warehouse/includes/instrument_table.html" %}
        {% if user.is_authenticated %}
            <div class="cnt-table-footer">
                {% include 'warehouse/includes/instrument_inline_form.html' with form=form %}
            </div>
        {% endif %}
    </div>
    {% include "includes/paginator.html" %}
{% endblock %}