{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'warehouse:instrument-list' %}">Инструменты</a></li>
      <li class="breadcrumb-item" aria-current="page">{{ instrument.name }}</a></li>
    </ol>
  </nav>
  <div class="card mb-3 mt-1 shadow-sm">
    <div class="row">
      <div class="col-2">
        <!-- Отображение картинки -->
        {% load thumbnail %}
        {% thumbnail instrument.image "200x200" crop="center" upscale=True as im %}
          <img class="img-fluid m-1" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ material.name }}"/>
        {% endthumbnail %}
      </div>
      <div class="col">
        <!-- Отображение текста -->
        <div class="card-body">
          <p class="h5 mb-3">{{ instrument.name }}</p>
          <p class="h6">
            <p class="mb-1"><span class="text-muted">Инв. номер: </span>{{ instrument.inventory_number|default:"" }}</p>
            <p class="mb-1"><span class="text-muted">Зав. номер: </span>{{ instrument.serial_number|default:"" }}</p>
            <p class="mb-1"><span class="text-muted">Подразделение: </span>{{ instrument.owner|default:"" }}</p>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
