{% load static %}
{% load user_filters %}
<tr>
    <td>{{ form.material|addclass:"form-control form-control-sm" }}</td>
    <td></td>
    <td>{{ form.inventory_number|addclass:"form-control form-control-sm" }}</td>
    <td>{{ form.amount|addclass:"form-control form-control-sm" }}</td>
    <td>
        <button class="btn btn-sm btn-success me-1"
            hx-post="{% url 'warehouse:material-storage-update' materialstorage.storage.pk materialstorage.pk %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-include="closest tr"
        >
            <img src="{% static 'icons/check.svg' %}" height="16" fill="currentColor" class="bi bi-check-lg">
        </button>
        <button class="btn btn-sm btn-secondary me-1"
            hx-get="{% url 'warehouse:material-storage-detail' materialstorage.storage.pk materialstorage.pk %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
        >
            <img src="{% static 'icons/x.svg' %}" height="16" fill="currentColor" class="bi bi-x-lg">
        </button>
    </td>
</tr>