{% load static %}
<tr hx-target="this" hx-swap="outerHTML">
    <td colspan="2"><a href="{% url 'warehouse:material-detail' material.pk %}">{{ material.name }}</a></td>
    <td>{{ material.article_number|default:"-" }}</td>
    <td>{% if material.total %}{{ material.total|floatformat }}{% else %}0{% endif %} {{ material.measurement_unit}}</td>
    <td>
        {% if user.is_authenticated %}
            <button class="btn btn-sm btn-secondary me-1 my-0"
                hx-get="{% url 'warehouse:material-update' material.pk %}"
            >
                <img src="{% static 'icons/pen.svg' %}" height="16" fill="currentColor" class="bi bi-pen">
            </button>
            <form hx-post="{% url 'warehouse:material-delete' material.pk %}"
                hx-confirm="Вы уверены, что хотите удалить материал?"
            >
                {% csrf_token %}
                <button class="btn btn-sm btn-danger my-0" type="submit">
                    <img src="{% static 'icons/basket.svg' %}" height="16" fill="currentColor" class="bi bi-basket">
                </button>
            </form>
        {% endif %}
    </td>
</tr>