{% extends 'base.html' %}
{% block title %}Материалы{% endblock %}
{% load user_filters %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'warehouse:material-list' %}">Материалы</a></li>
      <li class="breadcrumb-item">{% if is_new %}Добавить{% else %}Изменить{% endif %} материал</li>
    </ol>
  </nav>

  <div class="row justify-content-center">
    <div class="col-md-8 p-5 pt-2">
      <form method="post" enctype="multipart/form-data">
        {% include 'includes/form.html' %}
        <div class="col-md-6 offset-md-4">              
          <button type="submit" class="btn btn-primary">
              {% if is_edit %}
                  Сохранить
              {% else %}
                  Добавить
              {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
