{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item">Материалы</li>
        </ol>
    </nav>
    {% if user.is_authenticated %}
        <a class="btn btn-sm btn-secondary me-auto" href="{% url 'warehouse:material-create' %}" role="button">
            Добавить
        </a>
    {% endif %}
    <figure class="text-center">
        <h3>Материалы</h3>
    </figure>
    {% include "warehouse/includes/material_filter.html" %}
    {% include "warehouse/includes/material_table.html" %}
{% endblock %}
