{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'warehouse:material-list' %}">Материалы</a></li>
      <li class="breadcrumb-item" aria-current="page">{{ material.name }}</a></li>
    </ol>
  </nav>
  <div class="card mb-3 mt-1 shadow-sm">
    <div class="row">
      <div class="col-2">
        <!-- Отображение картинки -->
        {% load thumbnail %}
        {% thumbnail material.image "200x200" crop="center" upscale=True as im %}
          <img class="img-fluid m-1" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ material.name }}"/>
        {% endthumbnail %}
      </div>
      <div class="col">
        <!-- Отображение текста -->
        <div class="card-body">
          <p class="h5 mb-3">{{ material.name }}</p>
          <p class="h6">
            <p class="mb-1">
              <span class="text-muted">Артикул:</span> {% if material.article_number %}{{ material.article_number }}{% endif %}
            </p>
            <p class="mb-1">
              <span class="text-muted">Общее кол-во:</span> {{ material.total }} {{ material.measurement_unit }}
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% if material.amount.all %}
    <h4>Места хранения</h4>
    <table class="table table-hover">
      <thead class="table">
        <tr>
          <th scope="col">Расположение</th>
          <th scope="col">Количество</th>
          <th scope="col">Подразделение</th>
        </tr>
      </thead>
      <tbody>
        {% for m in material.amount.all %}
          <tr>
            <td><a href="{% url 'warehouse:storage-detail' m.storage.id %}">{{ m.storage.name }}</a></td>
            <td>{{ m.amount }} {{ m.material.measurement_unit }}</td>
            <td>{% if m.owner %}{{ m.owner }}{% else %}-{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
  {% endif %}
  {% include "includes/back.html" %}
{% endblock %}
