{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item">Материалы</li>
    </ol>
  </nav>
  <figure class="text-center">
    <h3>Материалы</h3>
  </figure>
  <table class="table table-hover">
    <thead class="table">
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Расположение</th>
        <th scope="col">Количество</th>
      </tr>
    </thead>
    <tbody>
      {% for m in materialstorage_list %}
        <tr>
          <td><a href={% url 'warehouse:material-detail' m.material.id %}>{{ m.material.name }}</a></td>
          <td>{% if m.storage %}<a href={% url 'warehouse:storage-detail' m.storage.id %}>{{ m.storage }}</a>{% else %}-{% endif %}</td>
          <td>{{ m.amount }} {{ m.material.measurement_unit}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
    {% include "includes/paginator.html" with page_obj=page_obj paginator=paginator is_paginated=is_paginated%}
  {% endif %}
{% endblock %}
