{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'warehouse:storage-list' %}">Места хранения</a></li>
            <li class="breadcrumb-item">{{ storage.name }}</li>
        </ol>
    </nav>
    <div class="row mb-5">
        <h1>Места хранения</h1>
    </div>
    <div class="row">
        <div class="col-auto p-0">
            <div class="collapse show collapse-horizontal" id="tree-menu">
                {% include 'warehouse/includes/storage_tree.html' %}
            </div>
        </div>
        <div class="col-auto border-end">
            <input class="tree-menu__switch" type="checkbox" id="tree-menu-switch" data-bs-toggle="collapse"
                data-bs-target="#tree-menu" aria-expanded="false" aria-controls="#tree-menu">
            <label class="tree-menu__label" for="tree-menu-switch"></label>
        </div>
        <div class="col">
            <div id="content">
                {% include 'warehouse/includes/storage_content.html' %}
            </div>
        </div>
    </div>
{% endblock %}
