{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item">Места хранения</li>
    </ol>
  </nav>
  <figure class="text-center">
    <h3>Места хранения</h3>
  </figure>
  <table class="table table-hover">
    <thead class="table">
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Расположение</th>
        <th scope="col">Материалы</th>
        <th scope="col">QR-code</th>
      </tr>
    </thead>
    <tbody>
      {% for s in storage_list %}
        <tr>
          <td><a href="{% url 'warehouse:storage-detail' s.id %}">{{ s.name }}</a></td>
          <td>{% if s.parent_storage %}<a href="{% url 'warehouse:storage-detail' s.parent_storage.id %}">{{ s.parent_storage }}</a>{% else %}-{% endif %}</td>
          <td>{{ s.materials_count }} поз.</td>
          <td><a href="{% url 'warehouse:storage-qrcode' s.id %}">открыть</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
    {% include "includes/paginator.html" with page_obj=page_obj paginator=paginator is_paginated=is_paginated%}
  {% endif %}
{% endblock %}
