{% load static %}
{% load addclass %}
<style>
    input {
        line-height: 19px;
        font-size: 0.875rem;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius-sm);
    }
</style>
<li class="mb-1">
    <form hx-post="{% url 'warehouse:storage-create' %}" hx-target="closest li" hx-swap="beforebegin">
        {% if form.name.errors %}
            {{ form.name|addclass:"is-invalid py-0 px-1" }}
        {% else %}
            {{ form.name|addclass:"py-0 px-1" }}
        {% endif %}
        {% if form.name.errors %}
        <div id="validation-{{ form.name.id_for_label }}" class="invalid-feedback">
            {{ form.name.errors }}
        </div>
        {% endif %}
        <input type="hidden" name="parent_storage" value="{{ parent_storage.pk }}">
        <button class="btn btn-link p-0 pb-1">
            <img src="{% static 'icons/floppy.svg' %}" height="16" fill="currentColor" class="bi bi-floppy">
        </button>
    </form>
</li>