{% load static %}
{% load user_filters %}
<style>
    input {
        line-height: 19px;
    }
</style>
<li class="mb-1">
    {{ form.name|addclass:"p-0" }}
    <a class="icon-link align-middle" role="button"
        hx-post="{% if is_update %}{% url 'warehouse:storage-update' storage.pk %}{% else %}{% url 'warehouse:storage-create' %}{% endif %}"
        hx-target="closest li"
        hx-swap="{% if is_update %}outerHTML{% else %}beforebegin{% endif %}"
        hx-include="previous input"
    >
        <img src="{% static 'icons/floppy.svg' %}" height="16" fill="currentColor" class="bi bi-floppy">
    </a>
</li>