<div id="content" class="my-2">
    <div class="cnt-table">
        <div class="cnt-table-header">
            <div class="cnt-table-row">
                <div class="cnt-table-cell">Наименование</div>
                <div class="cnt-table-cell">Инв. номер</div>
                <div class="cnt-table-cell">Зав. номер</div>
                <div class="cnt-table-cell">Подразделение</div>
                <div class="cnt-table-cell">Дата последней проверки</div>
                <div class="cnt-table-cell">Дата следующей проверки</div>
                <div class="cnt-table-cell"></div>
            </div>
        </div>
        <div id="instrument-table" class="cnt-table-group">
            {% for instrument in instrument_list %}
                {% include "warehouse/includes/instrument_row.html" with instrument=instrument %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class="cnt-table-footer">
                {% include 'warehouse/includes/instrument_inline_form.html' with form=form %}
            </div>
        {% endif %}
        </div>
    </div>
    {% include "includes/paginator.html" %}
</div>