{% load static %}
<li>
    <a class="icon-link align-middle" href="#"
        hx-get="{% url 'warehouse:storage-list' %}?storage={{ storage.pk }}"
        hx-target="closest li"
        hx-swap="outerHTML"
    >
        <img src="{% static 'icons/plus-square.svg' %}" height="16" fill="currentColor" class="bi bi-plus-square">
    </a>
    <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        role="button"
        hx-get="{% url 'warehouse:storage-detail' storage.pk %}"
        hx-target="#storageContent"
    >
        {{ storage.name }}
    </a>
    {% include 'warehouse/includes/storage_edit_buttons.html' %}
</li>