{% load static %}
<li>
    {% if storage.storage_count %}
        <a class="icon-link align-middle" href="#"
            hx-get="{% url 'warehouse:storage-list' %}?storage={{ storage.pk }}"
            hx-target="closest li"
            hx-swap="outerHTML"
        >
            <img src="{% static 'icons/plus-square.svg' %}" height="16" fill="currentColor" class="bi bi-plus-square">
        </a>
    {% endif %}
    <a role="button" {% if not storage.storage_count %}style="margin-left: 21px;"{% endif %}
        hx-get="{% url 'warehouse:storage-detail' storage.pk %}"
        hx-target="#storageContent"
    >
        {{ storage.name }}
    </a>
    {% if storage.storage_count %}
        <span class="position-absolute badge bg-danger rounded-pill" style="--bs-badge-font-size: .5rem;">
            {{ storage.storage_count }}
        </span>
    {% endif %}
    {% if user.is_authenticated %}
        {% include 'warehouse/includes/storage_edit_buttons.html' %}
    {% endif %}
</li>