{% load static %}
<li>
    <a class="icon-link align-middle" role="button"
        hx-get="{% url 'warehouse:storage-li' parent_storage.pk %}"
        hx-target="closest li"
        hx-swap="outerHTML"
    >
        <img src="{% static 'icons/dash-square.svg' %}" height="16" fill="currentColor" class="bi bi-dash-square">
    </a>
    <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        role="button"
        hx-get="{% url 'warehouse:storage-detail' parent_storage.pk %}"
        hx-target="#storageContent"
    >
        {{ parent_storage.name }}
    </a>

    <ul class="list">
        {% for storage in storage_list %}
            {% include 'warehouse/includes/storage_li.html' %}
        {% endfor %}
        {% if user.is_authenticated and user.dept == parent_storage.owner or user.is_authenticated and not parent_storage.owner %}    
            {% include 'warehouse/storage_form.html' %}
        {% endif %}
    </ul>
</li>