{% load static %}
<form
    hx-post="{% url 'warehouse:storage-update' storage.pk %}"
    hx-target="this"
    hx-swap="outerHTML"
>
    <input class="form-control border border-0 shadow-none fs-3 p-0 {% if form.name.errors %}is-invalid{% endif %}"
        type="text"
        name="name"
        maxlength="200"
        value="{{ storage.name }}"
    >
    {% if form.name.errors %}
        <div id="validation-{{ form.name.id_for_label }}" class="invalid-feedback">
            {{ form.name.errors }}
        </div>
    {% endif %}
    {% if storage.parent_storage %}
        <input type="hidden" name="parent_storage" value="{{ storage.parent_storage.pk }}">
    {% endif %}
</form>