{% load static %}
<li>
    <input class="tree-menu__item" name="storage" id="tree-menu-item-{{ parent_storage.pk }}" type="checkbox"
        hx-get="{% url 'warehouse:storage-li' parent_storage.pk %}"
        hx-target="closest li"
        hx-swap="outerHTML"
        hx-params="none"
        checked
    >
    <label for="tree-menu-item-{{ parent_storage.pk }}" class="tree-menu__label"></label>
    <a class="tree-menu__link link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        role="button"
        id="menu-link-{{ parent_storage.pk }}"
        hx-get="{% url 'warehouse:storage-detail' parent_storage.pk %}"
        hx-push-url="true"
        hx-target="#content"
    >
        {{ parent_storage.name }}
    </a>

    <ul class="list">
        {% for storage in storage_list %}
            {% include 'warehouse/includes/storage_li.html' %}
        {% endfor %}
        {% if user.is_authenticated and user.dept == parent_storage.owner or user.is_authenticated and not parent_storage.owner %}    
            {% include 'warehouse/storage_form.html' %}
        {% endif %}
    </ul>
</li>