{% extends 'base.html' %}
{% block title %}Дефекты{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item">Дефекты</li>
    </ol>
  </nav>
  <a class="btn btn-sm btn-secondary me-auto" href="{% url 'defects:defect-create' %}" role="button">
    Добавить новый
  </a>
  <figure class="text-center">
    <h3>Дефекты</h3>
  </figure>
  {% include './defect_filter.html' %}
  <table class="table table-hover">
    <thead class="table">
      <tr>
        <th scope="col">Дата обнаружения</th>
        <th scope="col">Объект</th>
        <th scope="col">Присоединение</th>
        <th scope="col">Оборудование</th>
        <th scope="col">Шкаф/панель</th>
        <th scope="col">Описание</th>
        <th scope="col">Дата устранения</th>
      </tr>
    </thead>
    <tbody>
      {% for d in defect_list %}
          <tr>
            <td><a href="{% url 'defects:defect-detail' d.id %}">{{ d.date|date:'Y-m-d' }}</a></td>
            <td>{{ d.hardware.connection.facility }}</td>
            <td>{{ d.hardware.connection.abbreviation }}</td>
            <td>{{ d.hardware.name }}</td>
            <td>{{ d.cabinet.abbreviation }}</td>
            <td>{{ d.description }}</td>
            <td>{{ d.repair_date|date:'Y-m-d' }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
    {% include 'includes/paginator.html' with page_obj=page_obj paginator=paginator is_paginated=is_paginated %}
  {% endif %}
{% endblock %}
