{% extends 'base.html' %}
{% block title %}Статистика{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'defects:defect-list' %}">Дефекты</a></li>
      <li class="breadcrumb-item">Статистика</li>
    </ol>
  </nav>
  <figure class="text-center">
    <h3>Статистика</h3>
  </figure>
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="row p-0">
        <canvas id="statisticsByYearChart"></canvas>
      </div>
      <div class="row p-0">
        <canvas id="statisticsByGroupChart"></canvas>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    function updateContent() {
      updateStatisticsByYear();
      updateStatisticsByGroup();
    }

    function updateStatisticsByYear() {
      fetch("{% url 'api:defect-statistics-by-year' %}")
        .then(function(response) {
          return response.json()
        }).then(function(data) {
          data = formatStatisticsToArray(data);
          setStatisticsByYearChart(statisticsByYearChart, data);
        }).catch(function(ex) {
          console.log('Error: ', ex)
        });
    }

    function updateStatisticsByGroup() {
      fetch("{% url 'api:defect-statistics-by-group' %}")
        .then(function(response) {
          return response.json()
        }).then(function(data) {
          data = formatStatisticsToArray(data);
          setStatisticsByGroupChart(statisticsByGroupChart, data);
        }).catch(function(ex) {
          console.log('Error: ', ex)
        });
    }

    function formatStatisticsToArray(data) {
      let result = {};

      data.forEach(item => {
        Object.keys(data[0]).forEach(key => {
          if (result[key] != null && typeof(result[key] == 'object')) {
            result[key].push(item[key]);
          } else {
            result[key] = [];
          }
        });
      });

      return result
    }

    const statisticsByYearConfig = {
      type: 'bar',
      data: {
        labels: [],
        datasets: [{
          label: 'Количество дефектов в год, шт.',
          data: [],
          backgroundColor: 'rgba(255, 159, 64, 0.2)',
          borderColor: 'rgba(255, 159, 64, 1)'
        }]
      },
      options: {
        elements: {
          bar: {
            borderWidth: 1,
          }
        },
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom',
            labels: {
                boxHeight: 0,
            }
          }
        }
      }
    };

    const statisticsByGroupConfig = {
      type: 'bar',
      data: {
        labels: [],
        datasets: [{
            label: 'Количество дефектов по группам оборудования, шт.',
            data: [],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)'
        }]
      },
      options: {
        indexAxis: 'y',
        elements: {
          bar: {
            borderWidth: 1,
          }
        },
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom',
            labels: {
                boxHeight: 0,
            }
          }
        }
      },
    };

    function setStatisticsByYearChart(chart, data) {
      chart.data.labels = data.year;
      chart.data.datasets[0].data = data.defect_count;
      chart.update();
    }

    function setStatisticsByGroupChart(chart, data) {
      chart.data.labels = data.group;
      chart.data.datasets[0].data = data.defect_count;
      chart.update();
    }

    const statisticsByYearCtx = document.getElementById("statisticsByYearChart").getContext("2d");
    const statisticsByYearChart = new Chart(statisticsByYearCtx, statisticsByYearConfig);

    const statisticsByGroupCtx = document.getElementById("statisticsByGroupChart").getContext("2d");
    const statisticsByGroupChart = new Chart(statisticsByGroupCtx, statisticsByGroupConfig);

    updateContent()
  </script>
{% endblock %}
