{% extends 'base.html' %}
{% block title %}Дефекты{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'defects:defect-list' %}">Дефекты</a></li>
        <li class="breadcrumb-item">Журнал</li>
    </ol>
</nav>
{% if user.is_authenticated %}
<a class="btn btn-sm btn-secondary me-auto" href="{% url 'defects:defect-create' %}" role="button">
    Добавить новый
</a>
{% endif %}
<figure class="text-center">
    <h3>Дефекты</h3>
</figure>
{% include './defect_filter.html' %}
<div id="defectTable" hx-get="{% url 'defects:defect-list' %}" hx-trigger="load" hx-params="none"></div>
{% endblock %}