{% extends 'base.html' %}
{% block title %}Статистика{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'defects:defect-list' %}">Дефекты</a></li>
      <li class="breadcrumb-item">Статистика</li>
    </ol>
  </nav>
  <figure class="text-center">
    <h3>Статистика</h3>
  </figure>
  <div class="row justify-content-center">
    <div class="row p-0">
      <canvas id="statisticsByYearChart"></canvas>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script>
    function updateContent() {
      updateStatisticsByYear();
    };

    function updateStatisticsByYear() {
      fetch("{% url 'api:defect-statistics-by-year' %}")
        .then(function(response) {
          return response.json()
        }).then(function(data) {
          data = formatStatisticsByYearToArray(data);
          setStatisticsByYearChart(statisticsByYearChart, data);
        }).catch(function(ex) {
          console.log('Error: ', ex)
        });
    }

    function formatStatisticsByYearToArray(data) {
      let years = [];
      let defect_counts = [];
    
      data.forEach((item, index, array) => {
        years.push(item.year);
        defect_counts.push(item.defect_count);
      });

      return {
        years: years,
        defect_counts: defect_counts
      };
    }

    var statisticsByYearConfig = {
      type: "bar",
      data: {
      labels: [],
      datasets: [{
        label: "Количество дефектов в год, шт.",
        data: [],
        backgroundColor: "rgba(255, 99, 132, 0.2)",
        borderColor: "rgba(255, 99, 132, 1)",
        borderWidth: 1,
        fill: true,
        yAxisID: 'y'
      }]
    },
      options: {
        scales: {
          y: {
            type: 'linear',
            display: true,
            position: 'left',
          }
        },
        elements: {
          point: {
            radius: 0
          }
        },
        plugins: {
          legend: {
            display: true,
            position: "bottom",
            labels: {
                boxHeight: 0
            }
          }
        }
      }
    }

    function setStatisticsByYearChart(chart, data) {
      chart.data.labels = data.years;
      chart.data.datasets[0].data = data.defect_counts;
      chart.update();
    }

    const statisticsByYearCtx = document.getElementById("statisticsByYearChart").getContext("2d");
    const statisticsByYearChart = new Chart(statisticsByYearCtx, statisticsByYearConfig);

    updateContent()
  </script>
{% endblock %}
