{% extends 'base.html' %}
{% block title %}Дефекты{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'defects:defect-list' %}">Дефекты</a></li>
      <li class="breadcrumb-item">{% if is_new %}Добавить{% else %}Изменить{% endif %} дефект</li>
    </ol>
  </nav>
  <figure class="text-center">
    <h3>{% if is_new %}Добавить{% else %}Изменить{% endif %} дефект</h3>
  </figure>
  <form method="post" enctype="multipart/form-data">
    <div class="card shadow-sm mb-3 mt-1 p-3">
      {% include 'includes/form.html' %}
    </div>
    <div class="d-flex justify-content-end">
      {% include 'includes/back.html' %}            
      <button type="submit" class="btn btn-sm btn-secondary me-1">
        {% if is_new %}Добавить{% else %}Сохранить{% endif %}
      </button>
    </div>
  </form>
{% block jquery %}
  <script>
    $(document).ready(function() {
      $("#id_hardware").change(function() {
        let url = "{% url 'api:cabinet-list' %}"
        let pk = $("#id_hardware").val()
        if (pk !== "") {
          url = "{% url 'api:hardware-list' %}" + pk + "/cabinets"
        };
        $.ajax({
          method: "GET",
          url: url,
          success: function(data) {
            $("#id_cabinet option").remove();
            $("#id_cabinet").append("<option value='' selected=''>---------</option>");
            for (var i in data)
              $("#id_cabinet").append("<option value=" + data[i].id + ">" + data[i].abbreviation + " " + data[i].name + "</option>");
          },
          error: function(error_data) {
            console.log(error_data);
          }
        });
      });
    });
    $(document).ready(function() {
      $("#id_cabinet").change(function() {
        let url = "{% url 'api:component-list' %}"
        let pk = $("#id_cabinet").val()
        if (pk !== "") {
          url = "{% url 'api:cabinet-list' %}" + pk + "/components"
        };
        $.ajax({
          method: "GET",
          url: url,
          success: function(data) {
            $("#id_component option").remove();
            $("#id_component").append("<option value='' selected=''>---------</option>");
            for (var i in data)
              $("#id_component").append("<option value=" + data[i].id + ">" + data[i].name + "</option>");
          },
          error: function(error_data) {
            console.log(error_data);
          }
        });
      });
    });
  </script>
{% endblock %}
{% endblock %}
