<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Филиал</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id='navbarCollapse'>
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Склад</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'warehouse:storage-list' %}">Места хранения</a></li>
              <li><a class="dropdown-item" href="{% url 'hardware:component-list' %}">Запчасти</a></li>
              <li><a class="dropdown-item" href="{% url 'warehouse:material-list' %}">Материалы</a></li>
              <li><a class="dropdown-item" href="{% url 'warehouse:instrument-list' %}">Инструменты</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link {% if defect_list %}active{% endif %}" href="{% url 'defects:defect-list' %}">Дефекты</a></li>
        </ul> 
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <span class="navbar-text">Пользователь: <span style="color:#eee;">{{ user.username }}</span></span>
            <li class="nav-item"><a class="nav-link" href="{% url 'password_change' %}"> Изменить пароль</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> Выйти</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Войти</a></li>
          {% endif %}
        </ul>
      </div>
  </div>
  </nav>
