<div class="row justify-content-center">
    <div class="col-sm-4">
        <input class="form-control mb-4 mt-2" type="text" name="search" placeholder="Поиск..."
            hx-get="{% url 'hardware:component-list' %}"
            hx-push-url="true"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#componentTable"
            hx-swap="outerHTML"
            hx-include="[name='manufacturer'],[name='dept']"
        >
    </div>
</div>
<div class="row justify-content-end">
    <div hx-get="{% url 'hardware:manufacturer-options' %}?label=true" hx-trigger="load" hx-target="#selectManufacturer"></div>
    <div hx-get="{% url 'staff:dept-select' %}?label=true" hx-trigger="load" hx-target="#selectDept"></div>
    <div class="col-sm-2">
        <select class="form-select form-select-sm" id="selectManufacturer" name="manufacturer"
            hx-get="{% url 'hardware:component-list' %}"
            hx-push-url="true"
            hx-target="#componentTable"
            hx-swap="outerHTML"
            hx-include="[name='dept'],[name='search']"
        >
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-select form-select-sm" id="selectDept" name="dept"
            hx-get="{% url 'hardware:component-list' %}"
            hx-push-url="true"
            hx-target="#componentTable"
            hx-swap="outerHTML"
            hx-include="[name='manufacturer'],[name='search']"
        >
        </select>
    </div>
</div>