<div id="componentTable">
    <table class="table table-hover">
        <thead class="table">
            <tr>
                <th scope="col">Производитель</th>
                <th scope="col">Наименование</th>
                <th scope="col">Тип</th>
                <th scope="col">Количество</th>
                <th scope="col">Дефекты</th>
            </tr>
        </thead>
        <tbody>
            {% for c in component_list %}
                <tr>
                    <td>{{ c.manufacturer|default:"-" }}</td>
                    <td><a href="{% url 'hardware:component-detail' c.pk %}">{{ c.name }}</a></td>
                    <td>{{ c.type|default:"-" }}</td>
                    <td>{% if c.total %}{{ c.total }}{% else %}0{% endif %} шт.</td>
                    <td>{% if c.defect_count %}<a href="{% url 'defects:defect-list' %}?component={{ c.pk }}">{{ c.defect_count }}</a>{% else %}0{% endif %} шт.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "includes/paginator.html" %}
</div>