{% load model_name %}
<div class="row justify-content-left">
    <div class="col me-auto">
        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{% url 'hardware:connection-detail' connection.pk %}"
        >
            <h3>{{ connection.name }}</h3>
        </a>
        <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{% url 'hardware:facility-detail' connection.facility.pk %}">
            <small>{{ connection.facility.abbreviation }}</small>
        </a>
    </div>
</div>

<div class="row mt-5">
    <h5>Оборудование</h5>
</div>
<div class="cnt-table">
    <div class="cnt-table-header">
        <div class="cnt-table-row">
            <div class="cnt-table-cell">Наименование</div>
            <div class="cnt-table-cell">Инв. номер</div>
            <div class="cnt-table-cell">Группа</div>
        </div>
    </div>
    <div class="cnt-table-group">
        {% for hardware in connection.hardware.all %}
            {% include 'hardware/includes/hardware_inline.html' %}
        {% endfor %}
    </div>
</div>