<div id="hardwareTable">
    <table class="table table-hover">
        <thead class="table">
            <tr>
                <th scope="col">Объект</th>
                <th scope="col">Присоединение</th>
                <th scope="col">Наименование</th>
                <th scope="col">Инв. номер</th>
                <th scope="col">Группа оборудования</th>
            </tr>
        </thead>
        <tbody>
            {% for hardware in hardware_list %}
                <tr>
                    <td>
                        {% if hardware.connection %}
                            {{ hardware.connection.facility|default:"-" }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ hardware.connection|default:"-" }}</td>
                    <td>{{ hardware.name }}</td>
                    <td>{{ hardware.inventory_number }}</td>
                    <td>{{ hardware.group }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "includes/paginator.html" %}
</div>