{% load model_name %}
<script>
    document.querySelectorAll('.tree-menu__link').forEach(link => {
        link.classList.remove('bg-info');
    });
    if (document.querySelector('#menu-link-{{ hardware|model_name }}-{{ hardware.pk }}')) {
        document.querySelector('#menu-link-{{ hardware|model_name }}-{{ hardware.pk }}').classList.add('bg-info');
    }
</script>
<div class="row justify-content-left">
    <div class="col me-auto">
        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{% url 'hardware:hardware-detail' hardware.pk %}"
        >
            <h3>{{ hardware.name }}</h3>
        </a>
        <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{% url 'hardware:connection-detail' hardware.connection.pk %}">
            <small>{{ hardware.connection.abbreviation }}</small>
        </a>
    </div>
</div>

<div class="row mt-5">
    <h5>Шкафы/Устройства</h5>
</div>
<div class="cnt-table">
    <div class="cnt-table-header">
        <div class="cnt-table-row">
            <div class="cnt-table-cell">Оперативное наименование</div>
            <div class="cnt-table-cell">Наименование</div>
            <div class="cnt-table-cell">Производитель</div>
            <div class="cnt-table-cell">Серия</div>
            <div class="cnt-table-cell">Тип</div>
            <div class="cnt-table-cell">Год выпуска</div>
            <div class="cnt-table-cell">Год ввода</div>
            {% if user.is_authenticated %}
                <div class="cnt-table-cell">{# space for buttons #}</div>
            {% endif %}
        </div>
    </div>
    <div id="cabinet-table" class="cnt-table-group">
        {% for cabinet in hardware.cabinets.all %}
            {% include "hardware/includes/cabinet_inline.html" %}
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <div class="cnt-table-footer">
            {% include "hardware/cabinet_form.html" with form=cabinet_form %}
        </div>
    {% endif %}
</div>