{% load static %}
<div class="input-group input-group-sm">
    <select name="manufacturer" class="form-control" id="id_manufacturer" required>
        {% include 'hardware/includes/manufacturer_options.html' %}
    </select>
    <button class="btn btn-outline-secondary" type="button"
        hx-get="{% url 'hardware:manufacturer-input' %}"
        hx-target="#manufacturer_input"
    >
        <img src="{% static 'icons/plus-lg.svg' %}" height="16" fill="currentColor" class="bi bi-plus-lg align-text-bottom">
    </button>
</div>