{% load static %}
{% load user_filters %}
<div class="col-md-5" id="manufacturer_input">
    <div class="input-group">
        {{ form.name|addclass:"form-control" }}
        {% if form.name.help_text %}
            <small id="{{ form.name.id_for_label }}-help" class="form-text text-muted">
                {{ form.name.help_text|safe }}
            </small>
        {% endif %}
        <a class="icon-link align-middle" role="button"
            hx-post="{% url 'hardware:manufacturer-input' %}"
            hx-target="#manufacturer_input"
        >
            <img src="{% static 'icons/floppy.svg' %}" height="16" fill="currentColor" class="bi bi-floppy">
        </a>
    </div>
</div>