<option value=""
    {% if not request.GET.manufacturer %}
        selected
    {% endif %}
>
    {% if request.GET.label %}
        Производитель...
    {% else %}
        --------------
    {% endif %}
</option>

{% for manufacturer in manufacturer_list %}
    <option value="{{ manufacturer.pk }}"
        {% if manufacturer.pk|stringformat:'i' == request.GET.manufacturer
           or manufacturer.pk == selected_manufacturer.pk %}
            selected
        {% endif %}
    >
        {{ manufacturer.name }}
    </option>
{% endfor %}