{% load static %}
<div class="col-md-5">
    <select name="manufacturer" class="form-control" id="id_manufacturer" required>
        {% include 'hardware/includes/manufacturer_options.html' %}
    </select>
</div>
<div class="col-md-1 me-auto py-1 px-0">
    <a class="icon-link align-middle" role="button"
        hx-get="{% url 'hardware:manufacturer-input' %}"
        hx-target="#manufacturer_input"
    >
        <img src="{% static 'icons/file-earmark-plus-fill.svg' %}" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill">
    </a>
</div>