{% load static %}
{% load model_name %}
<li>
    <input class="tree-menu__item" type="checkbox"
        id="menu-item-{{ object|model_name }}-{{ object.pk }}"
        hx-get="{{ object.get_menu_collapse_url }}"
        hx-target="closest li"
        hx-swap="outerHTML"
        hx-params="none"
        checked
    >
    <label class="tree-menu__label" for="menu-item-{{ object|model_name }}-{{ object.pk }}"></label>
    <a class="tree-menu__link link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        role="button"
        id="menu-link-{{ object|model_name }}-{{ object.pk }}"
        hx-get="{{ object.get_absolute_url }}"
        hx-target="#content"
    >
        {% if object.abbreviation %}
            {{ object.abbreviation }}
        {% else %}
            {{ object.name }}
        {% endif %}
    </a>

    <ul class="tree-menu">
        {% for object in object.children.all %}
            {% include 'hardware/includes/menu_li.html' %}
        {% endfor %}
    </ul>
</li>