{% load static %}
{% load model_name %}
<li>
    <input class="tree-menu__item" type="checkbox"
        id="tree-menu-{{ object|model_name }}-{{ object.pk }}"
        hx-get="{{ object.get_menu_open_url }}"
        hx-target="closest li"
        hx-swap="outerHTML"
        hx-params="none"
    >
    <label class="tree-menu__label"
        for="tree-menu-{{ object|model_name }}-{{ object.pk }}"
        {% if object.children.count < 1 %}
            style="visibility: hidden;"
        {% endif %}
    ></label>
    <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        role="button"
        hx-get="{{ object.get_absolute_url }}"
        hx-target="#content"
    >
        {% if object.abbreviation %}
            {{ object.abbreviation }}
        {% else %}
            {{ object.name }}
        {% endif %}
    </a>
</li>