<div
    hx-get="{% url 'hardware:connection-select' %}?connection={{ part.cabinet.hardware.connection.pk }}"
    hx-trigger="load"
    hx-target="#selectConnection"
    hx-params="none"
></div>
<div
    hx-get="{% url 'hardware:hardware-select' %}?hardware={{ part.cabinet.hardware.pk }}&connection={{ part.cabinet.hardware.connection.pk }}"
    hx-trigger="load"
    hx-target="#selectHardware"
    hx-params="none"
></div>
<div
    hx-get="{% url 'hardware:cabinet-select' %}?cabinet={{ part.cabinet.pk }}&hardware={{ part.cabinet.hardware.pk }}"
    hx-trigger="load"
    hx-target="#selectCabinet"
    hx-params="none"
></div>
<div
    hx-get="{% url 'hardware:part-select' %}?part={{ part.pk }}&cabinet={{ part.cabinet.pk }}"
    hx-trigger="load"
    hx-target="id_part"
    hx-params="none"
></div>