@media (min-width: 1600px) {
    .container-xxxl{
        width:1500px;
        margin: 0 auto;
    }
}

@media (min-width: 1920px) {
    .container-xxxxl{
        width:1740px;
        margin: 0 auto;
    }
}

div.htmx-swapping div {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.cnt-table {
    display: table;
    width: 100%;
}

.cnt-table-header {
    display: table-header-group;
}

.cnt-table-group {
    display: table-row-group;
}

.cnt-table-footer {
    display: table-footer-group;
}

.cnt-table-row {
    display: table-row;
    min-height: 40px;
}

.cnt-table-header {
    font-weight: bold;
}

.cnt-table-row:hover {
    background-color: whitesmoke;
}

.cnt-table-cell {
    display: table-cell;
    padding: 4px;
    border-bottom: 1px solid lightgray;
}

.cnt-table-footer .cnt-table-cell {
    border: none;
}

.tree-menu {
    list-style-type: none;
    padding-left: 1.25rem;
}

.tree-menu__item {
  display: none;
}

.tree-menu__item + .tree-menu__label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/static/icons/plus-square.svg') no-repeat center center;
  background-size: contain;
}

.tree-menu__item:checked + .tree-menu__label {
  background: url('/static/icons/dash-square.svg') no-repeat center center;
  background-size: contain;
}

.tree-menu__item ~ .tree-menu {
    display: none;
}

.tree-menu__item:checked ~ .tree-menu {
    display: block;
}

.tree-menu__switch {
  display: none;
}

.tree-menu__switch + .tree-menu__label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  background: url('/static/icons/x.svg') no-repeat center center;
  background-size: contain;
}

.tree-menu__switch:checked + .tree-menu__label {
  width: 24px;
  height: 24px;
  background: url('/static/icons/list.svg') no-repeat center center;
  background-size: contain;
}