html {
    display: flex;
    justify-content: center;
}

body {
    width: 210mm;
}

table {
    border-collapse: collapse;
    width: auto;
    margin: 0 1px;
    text-align: center;
}

table caption { 
    text-align: left;
    margin-top: 0.2cm;
}

.header {
    border: 6px double black;
}

.header td {
    border: 1px solid black;
    padding: 5px;
}

.header__organization {
    width: 5.5cm;
}

.header__type {
    width: 5cm;
}

.header__hardware {
    width: 1cm;
}

.capitilize {
    text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
    text-indent: 1cm;
    text-align: justify;
}

li p {
    margin: 0;
}

.instruments {
    border: 1px solid black;
}

.instruments th {
    border: 1px solid black;
    background-color: lightgray;
    height: 1.2cm;
    padding: 0.1cm;
}

.instruments td {
    border: 1px solid black;
    min-width: 1.5cm;
    padding: 0.1cm;
}

main > ul > li {
    margin-bottom: 0.2cm;
}

.signatures {
    text-align: left;
    margin-top: 0.5cm;
}

.signatures td {
    padding-left: 1cm;
    padding-top: 0.5cm;
}

.signatures td:first-child {
    width: 8cm;
}

.signatures td:nth-child(2) {
    width: 3cm;
    border-bottom: 1px solid black;
}

.signatures td:nth-child(2)::after {
    content: "(подпись)";
    font-size: 0.75rem;
    position: relative;
    bottom: -0.4cm;
    left: 0.4cm;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 0;
}

img {
    width: 16cm;
}

figcaption {
    margin-bottom: 2mm;
}

div.htmx-swapping div {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.image-area {
    position: relative;
}

.image-area__delete {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 2px 1px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 32px;
    line-height: 1rem;
    border: 1px solid #ccc;
    border-radius: 20%;
    background-color: rgba(100, 100, 100, 0.5);
}

.image-area__delete:hover {
    color: #ff443a;
    background-color: rgba(50, 50, 50, 0.5);
    border-color: #aaa;
}